.card-container{
    display: flex;
    flex-direction: column;
    background-color: #9A9A9A;
    border: 1px solid grey;
    border-radius: 50px;
    padding : 20px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translatez(0);
    transition: transform 0.25ms ease-out
}
.card-container:hover{
    transform: scale(1.05);
}
img{
    height: 120px;
    width: 120px;
    align-self: center;
}